# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List popular libraries used in Data Science
- List some Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. TensorFlow
3. Matplotlib
4. NumPy

|Data Science Tools |
---------------------------
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Arody Carlosama